@media screen and (max-width: 576px){

    .container {
        width: 90%;
    }

    nav ul{
        display: none;
    }

    .nav-menu span{
        display: block;
    }

    .bennar{
        flex-direction: column;
    }

    .bnr-info {
        width: 100%;
    }

    .bnr-info h1 {
        font-size: 40px;
        line-height: 3.5rem;
    }

    .bnr-img {
        width: 100%;
    }

    .habits-full-box {
        flex-direction: column;
    }

    .habits-single-box {
        width: 100%;
        margin-bottom: 50px;
    }

    .habits p {
        width: 100%;
    }

    .running-box {
        flex-direction: column;
    }

    .running-desc {
        width: 100%;
        padding-left: 0px;
    }

    #join-btn{
        width: 100%;
    }

    .running-desc h2 {
        font-size: 36px;
        line-height: 3.5rem;
    }

    .running-img {
        width: 100%;
        margin-top: 30px;
    }

    .exersise-single-box1 {
        width: 50%;
        height: 200px;
    }
    .exersise-single-box2 {
        width: 50%;
        height: 200px;
    }
    .exersise-single-box3 {
        display: none;
    }

    .exercise p {
        width: 100%;
    }
    .exercise h2 {
        font-size: 35px;
    }

    .exersise-single-box4 {
        width: 45%;
        height: 200px;
    }

    .exersise-single-box5 {
        width: 55%;
        height: 200px;
    }
    .exersise-single-box6 {
        display: none;
    }

    .calculate-title {
        padding-left: 0rem;
    }

    .calculate-title p {
        width: 100%;
    }

    .calculate-title h2 {
        font-size: 40px;
    }

    .calculate-bmi {
        flex-direction: column;
    }

    .table-bmi {
        width: 100%;
    }

    .connect-bmi {
        width: 100%;
        margin-top: 50px;
    }

    .all-team-member {
        flex-direction: column;
    }

    .team-box {
        padding: 20px;
    }

    .single-box {
        width: 100%;
        margin-bottom: 30px;
    }

    .single-box:last-child{
        margin-bottom: 5px;
    }

    .meeting h2 {
        font-size: 40px;
    }

    .meeting p {
        width: 100%;
    }

    .connect-bmi input {
        margin-right: 0px;
        margin-bottom: 8px;
    }

    #calculate-btn {
        width: 40%;
    }

    .footer-box {
        flex-direction: column;
    }

    .logo-area {
        width: 100%;
    }

    .list-area {
        width: 100%;
    }

    footer span {
        display: flex;
        justify-content: flex-start;
    }

    .btn{
        font-size: 12px;
    }

    .btn-primary {
        font-size: 12px;
    }

    .connect-bmi input {
        width: 49%;
    }

    .sex {
        width: 49%;
    }

    .activity {
        width: 100%;
    }

    #calculate-btn {
        width: 50%;
    }

    .single-box {
        height: 200px;
    }

    .habits-full-box {
        padding: 0px;
        margin-top: 50px;
    }

    .price-box{
        flex-direction: column;
        padding: 40px 0px;
    }

    .pricing-title h1 {
        font-size: 26px;
        line-height: 35px;
    }

}


@media screen and (max-width: 380px){
     
    nav {
        padding: 40px 0px;
    }

    .bnr-info h1 {
        font-size: 35px;
        line-height: 2.5rem;
    }

    .dubble-btn {
        gap: 10px;
    }

    .habits h2{
        font-size: 36px;
    }

    
    .pricing-title h1 {
        font-size: 20px;
    }
}