*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
    --desc-color: #808080;
    --desc-size: 16px;
    --title-size: 46px;
    --main-bg-color: #000;
    --detault-font: @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
}

.btn{
    background-color: tomato;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: .5s;
}

.btn:hover{
    background-color: rgb(204, 57, 31);
}
.btn-primary{
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    border: 1px solid rgb(175, 170, 170);
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

.container{
    width: 80%;
    margin: auto;
}

header{
    background: linear-gradient(rgb(24, 23, 23),rgb(48, 49, 48),rgb(0, 0, 0));
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.nav-logo h2{
    color: tomato;
    cursor: pointer;
}

nav ul{
    list-style: none;
    display: flex;
    border: 1px solid #494949;
    border-radius: 20px;
    padding: 2px;
}

nav ul li{
    padding: 10px 30px;
    border-radius: 20px;
}

#home{
    background: tomato;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

.nav-menu span{
    color: white;
    font-size: 20px;
    display: none;
    cursor: pointer;
}

/* bennar section start here now */
/* bennar section start here now */

.bennar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bnr-info{
    width: 40%;
}

.bnr-info h1{
    font-size: 60px;
    font-weight: bold;
    color: white;
    line-height: 4.5rem;
}

.bnr-info h1 span{
    font-family: initial;
    font-style: italic;
    font-weight: 200;
}

.bnr-info p{
    font-size: var(--desc-size);
    color: var(--desc-color);
    line-height: 30px;
    padding: 40px 0px;
}

.dubble-btn{
    display: flex;
    align-items: center;
    gap: 20px;
}

.bnr-img{
    width: 30%;
    padding: 20px;
    position: relative;
}

.bnr-img img{
    width: 100%;
}

.workout{
    background-color: rgba(128, 128, 128, 0.719);
    color: white;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 25%;
}

.tutorial{
    background-color: rgba(56, 55, 55, 0.726);
    color: white;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    left: 0;
    bottom: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
}

.tutorial #boll{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #f44336;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.tutorial p, .workout p{
    font-size: 12px;
    color: rgb(187, 182, 182);
    margin: 3px auto;
}

/* hobits section start here now */
/* hobits section start here now */


.habits {
    background: var(--main-bg-color);
    padding: 30px 0px;
    text-align: center;
}

.habits h2{
    font-size: var(--title-size);
    color: white;
    margin: 20px 0px;
}

.habits p{
    font-size: var(--desc-size);
    color: var(--desc-color);
    line-height: 25px;
    width: 40%;
    margin: 20px auto;
}

.habits-full-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 80px 0px;
}

.habits-single-box{
    width: 25%;
}

.habits-single-box h4{
    font-size: 20px;
    color: white;
    margin-top: 10px;
}

.habits-single-box p{
    width: 80%;
}

.habits-single-box img{
    border-radius: 50%;;
}

/* runing section start here now */
/* runing section start here now */


.running{
    background: var(--main-bg-color);
    padding: 30px 0px;
    color: white;
}

.running-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #686868;
    border-radius: 20px;
}

.running-desc{
    width: 40%;
    padding-left: 20px;
}

.running-desc h2{
    font-size: 46px;
    line-height: 3.5rem;
    color: white;
}
.running-desc p{
    font-size: var(--desc-size);
    line-height: 25px;
    padding: 20px 0px;
    color:rgb(175, 170, 170)
}

.running-img{
    width: 35%;
}

.running-img img{
    width: 100%;
    border-radius: 20px;
}


/* Exercises section start here now */
/* Exercises section start here now */

.exercise{
    background: var(--main-bg-color);
    padding: 50px 0px;
    color: white;
}

.exercise h2{
    font-size: var(--title-size);
    color: white;
    margin: 20px 0px;
}
.exercise p{
    font-size: var(--desc-size);
    color: var(--desc-color);
    line-height: 25px;
    width: 50%;
}

.exersise-full-box{
    padding: 50px 0px;
}
.exersise-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.exersise-single-box1{
    width: 30%;
    height: 300px;
    display: flex;
    justify-content: left;
    align-items: self-end;
    padding: 20px;
    background-image: url(images/exercise1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.exersise-single-box2{
    width: 40%;
    height: 300px;
    display: flex;
    color: white;
    justify-content: left;
    padding: 20px;
    background-image: url(images/exercise2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.exersise-single-box3{
    width: 30%;
    height: 300px;
    color: white;
    display: flex;
    justify-content: left;
    align-items: self-end;
    padding: 20px;
    background-image: url(images/exercise3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.bg-overlay-1{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(3, 248, 248, 0.623);
    top: 0;
    right: 0;
}
.bg-overlay-2{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.253);
    top: 0;
    right: 0;
}
.bg-overlay-3{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(48, 48, 48, 0.466);
    top: 0;
    right: 0;
}


.exersise-single-box4{
    width: 40%;
    height: 300px;
    display: flex;
    justify-content: right;
    text-align: right;
    padding: 20px;
    background-image: url(images/exercise4.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.exersise-single-box5{
    width: 25%;
    height: 300px;
    display: flex;
    color: white;
    justify-content: left;
    align-items: flex-end;
    padding: 20px;
    background-image: url(images/exercise5.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.exersise-single-box6{
    width: 35%;
    height: 300px;
    color: white;
    display: flex;
    justify-content: left;
    align-items: self-end;
    padding: 20px;
    background-image: url(images/exercise6.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.bg-overlay-4{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(22, 22, 22, 0.623);
    top: 0;
    right: 0;
}
.bg-overlay-5{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(9, 255, 0, 0.253);
    top: 0;
    right: 0;
}
.bg-overlay-6{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 4, 255, 0.295);
    top: 0;
    right: 0;
}

.exersise-single-box1 p, .exersise-single-box2 p, .exersise-single-box3 p{
    position: absolute;
    color: white;
    font-weight: bold;
}
.exersise-single-box4 p, .exersise-single-box5 p, .exersise-single-box6 p{
    position: absolute;
    color: white;
    font-weight: bold;
}

.exersise-single-box1 p{
    color: black;
}

/* Culculate section start here now */
/* Culculate section start here now */

.calculate{
    background-color: var(--main-bg-color);
}

.calculate-title {
    padding-left: 12rem;
}

.calculate-title h2{
    color: white;
    font-size: var(--title-size);
}

.calculate-title p{
    color: var(--desc-color);
    font-size: var(--desc-size);
    padding: 20px 0px;
    width: 55%;
    line-height: 30px;
}

.calculate-area{
    background-color: #1f1e1e;
    padding: 30px 0px;
}

.calculate-bmi{
    display: flex;
    justify-content: space-between;
}

.table-bmi{
    width: 40%;
}
.table-bmi h2{
    color: white;
    margin-bottom: 40px;
}
.connect-bmi{
    width: 50%;
}

.table-bmi table{
    text-align: left;
}
.table-bmi table th{
    color: white;
    padding: 10px 20px; 
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid rgb(77, 72, 72);
}

.table-bmi table tr td{
    color: var(--desc-color);
    padding: 10px 20px;
}

.connect-bmi h2{
    color: white;
    font-weight: bold;
}

.connect-bmi p{
    color: var(--desc-color);
    padding: 20px 0px;
    line-height: 30px;
}

#input{
    background-color: #3f3f3f;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    color: #858080;
    border: none;
    outline: none;
    cursor: pointer;
}

#input:focus{
    color: white;
}

.sex{
    width: 48%;
    padding-right: 20px;
}
.activity{
    display: block;
    width: 98%;
    padding-right: 20px;
}

.connect-bmi input{
    width: 48%;
    margin-right: 6px;
    margin-bottom: 10px;
}

#calculate-btn{
    width: 30%;
    margin: 20px 0px;
}

/* meeting seciton start here now */
/* meeting seciton start here now */

.meeting{
    background-color: var(--main-bg-color);
    padding: 50px 0px;
}

.meeting h2{
    font-size: var(--title-size);
    color: white;;
    text-align: center;
}

.meeting p{
    font-size: var(--desc-size);
    color: var(--desc-color);
    text-align: center;
    width: 40%;
    line-height: 30px;
    margin: auto;
    padding: 20px 0px;
}

.team-box{
    background-color: #1b1b1b;
    border-radius: 10px;
    padding: 15px;
}

.all-team-member{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.all-team-member:first-child{
    margin-bottom: 20px;
}

.single-box{
    width: 32%;
    height: 300px;
    position: relative;
}

.single-box img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.single-box-desc{
    width: 100%;
    position: absolute;
    bottom: 15px;
    left: 10px;
}

.single-box-desc h3{
    color: white;
    padding: 10px 0px;
}
.single-box-desc p{
    text-align: left;
    padding: 0;
    margin: 0;
    line-height: 0px;
}

/* footer section start here now */
/* footer section start here now */

footer{
    background-color: #1b1b1b;
    padding: 20px 0px;
}

.footer-box{
    display: flex;
    justify-content: space-between;
}

.logo-area{
    width: 40%;
}
.logo-area h1{
    color: tomato;
    font-size: var(--title-size);
    padding: 30px 0px;
    cursor: pointer;
}
.logo-area p{
    font-size: var(--desc-size);
    color: var(--desc-color);
    line-height: 30px;
}

.list-area{
    width: 15%;
}

.list-area h2{
    color: white;
    padding: 20px 0px;
}
.list-area ul{
    list-style: none;
}
.list-area ul li{
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
}
.list-area ul li a{
    text-decoration: none;
    color: #8b8b8b;
}

hr{
    border: 1px solid #2e2d2d;
    margin-top: 30px;
}

footer span{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}


/* Pricing section start here now */
/* Pricing section start here now */

.pricing-section{
    background-image: url(images/about-01-bg.jpg);
    background-position: center;
    background-size: cover;
    padding: 20px 0px;
    position: relative;
    z-index: 0;
}

.pricing-box{
    background: rgb(34 23 23 / 89%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.pricing-title h1{
    color: white;
    font-size: var(--title-size);
    text-align: center;
    padding: 20px 0px;
}

.pricing-title h4{
    color: tomato;
    font-size: 16px;
    text-align: center;
    letter-spacing: 10px;
}

.price-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 80px 0px;
}

.pricing-single-box{
    border: 1px solid rgb(117, 99, 99);
    border-radius: 10px;
    overflow: hidden;
}

.pricing-single-box img{
    width: 100%;
    object-fit: cover;
}

.pricing-single-box ul {
    list-style: none;
    color: rgb(163, 159, 159);
    font-weight: normal;
    font-size: 14px;
}

.pricing-single-box ul li{
    margin: 10px;
}

.pricing-single-box ul li i{
    color: green; 
    margin-right: 10px;
}

.pricing-single-box h3{
    font-size: 16px;
    margin: 20px 0px;
    color: white;
    margin-left: 10px;
}

.pricing-single-box h2{
    font-size: 26px;
    margin: 20px 0px;
    color: rgb(231, 118, 12);
    margin-left: 10px;
}
.pricing-single-box h2 sub{
    font-size: 12px;
}

.pricing-btn{
    text-align: center;
    padding: 20px 0px;
}

.pricing-btn button{
    background-color: transparent;
    border: 1px solid rgb(153, 83, 71);
    color: rgb(153, 83, 71);;
    padding: 10px 20px;
    border-radius: 18px;
    cursor: pointer;
    transition: .3s;
}

.pricing-btn button:hover{
    background-color: rgb(153, 83, 71);
    color: white;
}

